body {
  font-family: "Raleway", "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  color: black;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

/* Pages */

.page-header {
  color: #ffffff;
  background-color: #ffe17f;
}

.navigation-link {
  font-family: "Rubik", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: #000000;
}

.navigation-link-current {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 21px;
  color: black;
  text-decoration: none;
}

.title {
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;

}

.description {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.characters {
  font-size: 36px;
  line-height: 30px;
  font-weight: 400;
}

.cards-card {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  list-style-type: none;
  color: black;
  background: #ffe17f;
}

.delivery {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.contacts-info {
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.text-small {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.contacts-phone {
  color: black;
  text-decoration: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 18px;
  color: black;
}

.text-bold {
font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: black;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #444444;
  text-decoration: none;
}

.pagination-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  opacity: 30%;
}
